
.notify-notifier {
  float: left; }

.notify-summary, .notify-browser {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
  background-color: white;
  color: black; }

.notify-summary {
  width: 480px;
  position: fixed;
  margin-left: 25px;
  z-index: 1000; }

.notify-browser {
  width: 100%; }

.notify-summary ul, .notify-browser ul {
  display: block;
  padding: 2px;
  list-style: none; }
  .notify-summary ul li, .notify-browser ul li {
    padding: 5px 0 5px 0; }
    .notify-summary ul li.notify-summary-item, .notify-browser ul li.notify-summary-item {
      border: 1px solid lightGray; }
    .notify-summary ul li.notify-note-item, .notify-browser ul li.notify-note-item {
      border-top: 1px solid lightGray; }
      .notify-summary ul li.notify-note-item .notify-note-item-date, .notify-browser ul li.notify-note-item .notify-note-item-date {
        color: lightGray; }
    .notify-summary ul li a, .notify-browser ul li a {
      color: SlateGrey;
      display: inline;
      padding: none;
      text-decoration: underline;
      padding: 0; }

input[type="button"].notify-icon {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: black;
  border: none;
  color: #FFF;
  cursor: pointer;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  padding: 0 6px;
  width: auto;
  height: 24px; }
  input[type="submit"]:hover, {
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0);
    background-position: 0 -25px;
    color: #FFF;
    text-decoration: none;
}

input[type="button"].notify-icon-active {
    background: none repeat scroll 0 0 #990000;
    color: white;
}

.notify-more {
  text-align: center;
}